# Compilation files of the application
build/

# Legacy compilation output
bin/
debug/

# Temporary directory with snapshots taken during test runs
tests/snapshots-tmp/

\cmake-build-debug
/cmake-build-fuzz/
\.idea/

# Created by cmake
googletest-download/
googletest-src/
googletest-build/
CMakeFiles/
CMakeCache.txt
unittests
*.cmake
Testing/
cmake-build-fuzz/

node_modules/.yarn-integrity
/fuzz-*.log
/fuzz/corpora
/tests_speculos/node_modules/
/tests_speculos/yarn.lock
/tests_speculos/speculos-port*.log
*.new.png
